<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.peachtree.wpbapp"
xmlns:android="http://schemas.android.com/apk/res/android">

<application android:allowBackup="true" android:icon="@mipmap/wpbicon" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <activity android:name=".LoginActivity" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".RegisterActivity" android:screenOrientation="portrait">

    </activity>
    <activity
        android:name="com.peachtree.wpbapp.Event_List_Activity"
        android:label="@string/title_activity_event__list_"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="portrait">

    </activity>
</application>
   </manifest>
